html {
  overflow-y: scroll;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrap {
  margin: 2vh auto;
  width: 1000px;
}

.img {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.img:before {
  content: '';
  position: absolute;
  left: -11px;
  top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent black transparent;
}

.img:after {
  content: '';
  position: absolute;
  bottom: -11px;
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent black;
}

.img span {
  position: absolute;
  background-color: #cb0013;
  width: 15px;
  height: 15px;
  display: block;
  transform: translate(-50%, -50%);
  line-height: 15px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.coordinates p {
  margin-bottom: 0;
}

.toast {
  border: 2px solid #00b400;
  bottom: auto;
  top: 3vh;
}

input {
  margin-right: 25px !important;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
}

line {
  stroke-width: 2px;
  stroke: rgba(203, 0, 19, 0.75);
}